@using Westwind.AspNetCore.Markdown
@model IEnumerable<PostModel>

@{
    ViewData["Title"] = "Posts";

}

<h2>Recent Posts</h2>
@using (var form = Html.BeginForm(FormMethod.Get))
{
    <input class="btn bg-secondary text-light" asp-action="Add" value="Add Post" type="submit"/>
}

<br>
<br>
@Html.Partial("posts", Model)